body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(/img/background.jpeg);
  background-size: cover;
}
#start-container {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.introduction {
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 50px;
}

p {
  color: #050404;
  font-size: 25px;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.button {
  padding: 30px 90px;
  font-size: 30px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 70px;
}

button:hover {
  background-color: #45a049;
}
.button-reject {
  padding: 30px 90px;
  font-size: 30px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 70px;
}
.button-reject:hover {
  background-color: #5f0404;
}
.character-container {
  width: 270px;
  height: 600px;
  border: 1px solid #7e1414;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.sleceted-container {
  text-align: auto;
  display: flex;
  width: 1249px;
  align-items: center;
  justify-content: center;
}
.sleceted-container img {
  width: 250px;
  height: 250px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.character-container img {
  max-width: 250px;
  border-radius: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
}
#audioPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

audio {
  width: 300px;
  margin-right: 10px;
}
